<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel Cargue_de_Onts_Contratista edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="cargue_de_onts_contratista_view.php?{$editlink}" {$view_page_button_attrs}>Ver</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Fecha_de_Entrega_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_de_Entrega}  r-vertical-field" 
	data-signal-error-for="Fecha_de_Entrega{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Fecha_de_Entrega" data-fieldname="Fecha de Entrega" >

	<label class="r-edit-label control-label" for="{$labelfor_Fecha_de_Entrega}">
		{BEGIN Fecha_de_Entrega_label}{$label Cargue_de_Onts_Contratista Fecha_de_Entrega }{END Fecha_de_Entrega_label}
	</label>
	<div class="r-edit-field">
		{$Fecha_de_Entrega_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Fecha_de_Entrega">
		<div class="text-muted" >
		{$tooltip Cargue_de_Onts_Contratista Fecha_de_Entrega }		</div>
	</div>
</div>


{END Fecha_de_Entrega_fieldblock}
											
{BEGIN Serial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Serial}  r-vertical-field" 
	data-signal-error-for="Serial{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Serial" data-fieldname="Serial" >

	<label class="r-edit-label control-label" for="{$labelfor_Serial}">
		{BEGIN Serial_label}{$label Cargue_de_Onts_Contratista Serial }{END Serial_label}
	</label>
	<div class="r-edit-field">
		{$Serial_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Serial">
		<div class="text-muted" >
		{$tooltip Cargue_de_Onts_Contratista Serial }		</div>
	</div>
</div>


{END Serial_fieldblock}
											
{BEGIN tecnico_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tecnico}  r-vertical-field" 
	data-signal-error-for="tecnico{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="tecnico" data-fieldname="tecnico" >

	<label class="r-edit-label control-label" for="{$labelfor_tecnico}">
		{BEGIN tecnico_label}{$label Cargue_de_Onts_Contratista tecnico }{END tecnico_label}
	</label>
	<div class="r-edit-field">
		{$tecnico_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tecnico">
		<div class="text-muted" >
		{$tooltip Cargue_de_Onts_Contratista tecnico }		</div>
	</div>
</div>


{END tecnico_fieldblock}
											
{BEGIN Empresa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Empresa}  r-vertical-field" 
	data-signal-error-for="Empresa{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Empresa" data-fieldname="Empresa" >

	<label class="r-edit-label control-label" for="{$labelfor_Empresa}">
		{BEGIN Empresa_label}{$label Cargue_de_Onts_Contratista Empresa }{END Empresa_label}
	</label>
	<div class="r-edit-field">
		{$Empresa_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Empresa">
		<div class="text-muted" >
		{$tooltip Cargue_de_Onts_Contratista Empresa }		</div>
	</div>
</div>


{END Empresa_fieldblock}
											
{BEGIN Ticket_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Ticket}  r-vertical-field" 
	data-signal-error-for="Ticket{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Ticket" data-fieldname="Ticket" >

	<label class="r-edit-label control-label" for="{$labelfor_Ticket}">
		{BEGIN Ticket_label}{$label Cargue_de_Onts_Contratista Ticket }{END Ticket_label}
	</label>
	<div class="r-edit-field">
		{$Ticket_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Ticket">
		<div class="text-muted" >
		{$tooltip Cargue_de_Onts_Contratista Ticket }		</div>
	</div>
</div>


{END Ticket_fieldblock}
											
{BEGIN Fecha_de_Consumo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_de_Consumo}  r-vertical-field" 
	data-signal-error-for="Fecha_de_Consumo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Fecha_de_Consumo" data-fieldname="Fecha de Consumo" >

	<label class="r-edit-label control-label" for="{$labelfor_Fecha_de_Consumo}">
		{BEGIN Fecha_de_Consumo_label}{$label Cargue_de_Onts_Contratista Fecha_de_Consumo }{END Fecha_de_Consumo_label}
	</label>
	<div class="r-edit-field">
		{$Fecha_de_Consumo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Fecha_de_Consumo">
		<div class="text-muted" >
		{$tooltip Cargue_de_Onts_Contratista Fecha_de_Consumo }		</div>
	</div>
</div>


{END Fecha_de_Consumo_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
	 
		<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reiniciar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="cargue_de_onts_contratista_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Ver		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
