<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel Consultar_Ticket_Para_Modificarlo view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_tickets_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_tickets}  r-vertical-field" data-fieldname="id tickets" data-signal-error-for="id_tickets{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id_tickets" data-fieldname="id tickets" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id_tickets}">
		
		{BEGIN id_tickets_label}{$label Consultar_Ticket_Para_Modificarlo id_tickets }{END id_tickets_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_tickets_value}	</div>

		
</div>


{END id_tickets_fieldblock}
											
{BEGIN Tickets_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tickets}  r-vertical-field" data-fieldname="Tickets" data-signal-error-for="Tickets{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Tickets" data-fieldname="Tickets" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Tickets}">
		
		{BEGIN Tickets_label}{$label Consultar_Ticket_Para_Modificarlo Tickets }{END Tickets_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Tickets_value}	</div>

		
</div>


{END Tickets_fieldblock}
											
{BEGIN Fecha_de_atencio_n_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_de_atencio_n}  r-vertical-field" data-fieldname="Fecha de atencioón" data-signal-error-for="Fecha_de_atencio_n{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Fecha_de_atencio_n" data-fieldname="Fecha de atencioón" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Fecha_de_atencio_n}">
		
		{BEGIN Fecha_de_atencio_n_label}{$label Consultar_Ticket_Para_Modificarlo Fecha_de_atencio_n }{END Fecha_de_atencio_n_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Fecha_de_atencio_n_value}	</div>

		
</div>


{END Fecha_de_atencio_n_fieldblock}
											
{BEGIN Localidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Localidad}  r-vertical-field" data-fieldname="Localidad" data-signal-error-for="Localidad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Localidad" data-fieldname="Localidad" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Localidad}">
		
		{BEGIN Localidad_label}{$label Consultar_Ticket_Para_Modificarlo Localidad }{END Localidad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Localidad_value}	</div>

		
</div>


{END Localidad_fieldblock}
											
{BEGIN Estado_del_Ticket_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado_del_Ticket}  r-vertical-field" data-fieldname="Estado del Ticket" data-signal-error-for="Estado_del_Ticket{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Estado_del_Ticket" data-fieldname="Estado del Ticket" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Estado_del_Ticket}">
		
		{BEGIN Estado_del_Ticket_label}{$label Consultar_Ticket_Para_Modificarlo Estado_del_Ticket }{END Estado_del_Ticket_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Estado_del_Ticket_value}	</div>

		
</div>


{END Estado_del_Ticket_fieldblock}
											
{BEGIN Observaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaciones}  r-vertical-field" data-fieldname="Observaciones" data-signal-error-for="Observaciones{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Observaciones" data-fieldname="Observaciones" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Observaciones}">
		
		{BEGIN Observaciones_label}{$label Consultar_Ticket_Para_Modificarlo Observaciones }{END Observaciones_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Observaciones_value}	</div>

		
</div>


{END Observaciones_fieldblock}
											
{BEGIN Tecnico_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tecnico}  r-vertical-field" data-fieldname="Tecnico" data-signal-error-for="Tecnico{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Tecnico" data-fieldname="Tecnico" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Tecnico}">
		
		{BEGIN Tecnico_label}{$label Consultar_Ticket_Para_Modificarlo Tecnico }{END Tecnico_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Tecnico_value}	</div>

		
</div>


{END Tecnico_fieldblock}
											
{BEGIN Empresa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Empresa}  r-vertical-field" data-fieldname="Empresa" data-signal-error-for="Empresa{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Empresa" data-fieldname="Empresa" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Empresa}">
		
		{BEGIN Empresa_label}{$label Consultar_Ticket_Para_Modificarlo Empresa }{END Empresa_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Empresa_value}	</div>

		
</div>


{END Empresa_fieldblock}
											
{BEGIN Cedula_nit_Cliente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cedula_nit_Cliente}  r-vertical-field" data-fieldname="Cedula/nit-Cliente" data-signal-error-for="Cedula_nit_Cliente{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Cedula_nit_Cliente" data-fieldname="Cedula/nit-Cliente" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Cedula_nit_Cliente}">
		
		{BEGIN Cedula_nit_Cliente_label}{$label Consultar_Ticket_Para_Modificarlo Cedula_nit_Cliente }{END Cedula_nit_Cliente_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Cedula_nit_Cliente_value}	</div>

		
</div>


{END Cedula_nit_Cliente_fieldblock}
											
{BEGIN Tipo_de_Actividad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_de_Actividad}  r-vertical-field" data-fieldname="Tipo de Actividad" data-signal-error-for="Tipo_de_Actividad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Tipo_de_Actividad" data-fieldname="Tipo de Actividad" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Tipo_de_Actividad}">
		
		{BEGIN Tipo_de_Actividad_label}{$label Consultar_Ticket_Para_Modificarlo Tipo_de_Actividad }{END Tipo_de_Actividad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Tipo_de_Actividad_value}	</div>

		
</div>


{END Tipo_de_Actividad_fieldblock}
											
{BEGIN Recupera_Cable__fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Recupera_Cable_}  r-vertical-field" data-fieldname="Recupera_Cable?" data-signal-error-for="Recupera_Cable_{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Recupera_Cable_" data-fieldname="Recupera_Cable?" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Recupera_Cable_}">
		
		{BEGIN Recupera_Cable__label}{$label Consultar_Ticket_Para_Modificarlo Recupera_Cable_ }{END Recupera_Cable__label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Recupera_Cable__value}	</div>

		
</div>


{END Recupera_Cable__fieldblock}
											
{BEGIN Libera_Puerto__fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Libera_Puerto_}  r-vertical-field" data-fieldname="Libera_Puerto?" data-signal-error-for="Libera_Puerto_{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="Libera_Puerto_" data-fieldname="Libera_Puerto?" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Libera_Puerto_}">
		
		{BEGIN Libera_Puerto__label}{$label Consultar_Ticket_Para_Modificarlo Libera_Puerto_ }{END Libera_Puerto__label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Libera_Puerto__value}	</div>

		
</div>


{END Libera_Puerto__fieldblock}
											
{BEGIN Puerto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Puerto}  r-vertical-field" data-fieldname="Puerto" data-signal-error-for="Puerto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Puerto" data-fieldname="Puerto" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Puerto}">
		
		{BEGIN Puerto_label}{$label Consultar_Ticket_Para_Modificarlo Puerto }{END Puerto_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Puerto_value}	</div>

		
</div>


{END Puerto_fieldblock}
											
{BEGIN Cto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cto}  r-vertical-field" data-fieldname="Cto" data-signal-error-for="Cto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Cto" data-fieldname="Cto" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Cto}">
		
		{BEGIN Cto_label}{$label Consultar_Ticket_Para_Modificarlo Cto }{END Cto_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Cto_value}	</div>

		
</div>


{END Cto_fieldblock}
											
{BEGIN Spliter_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Spliter}  r-vertical-field" data-fieldname="Spliter" data-signal-error-for="Spliter{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Spliter" data-fieldname="Spliter" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Spliter}">
		
		{BEGIN Spliter_label}{$label Consultar_Ticket_Para_Modificarlo Spliter }{END Spliter_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Spliter_value}	</div>

		
</div>


{END Spliter_fieldblock}
											
{BEGIN Cable_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cable}  r-vertical-field" data-fieldname="Cable" data-signal-error-for="Cable{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="Cable" data-fieldname="Cable" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Cable}">
		
		{BEGIN Cable_label}{$label Consultar_Ticket_Para_Modificarlo Cable }{END Cable_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Cable_value}	</div>

		
</div>


{END Cable_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="consultar_ticket_para_modificarlo_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
								<li data-itemtype="view_pdf" data-itemid="view_pdf" {$item_view_pdf} data-pageid="{$pageid}" data-small >
				<a class="pdflink" data-pdfpage="view" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Consultar Ticket Para Modificarlo.pdf" 
data-pagesize="LETTER" 
data-pagetype="view" 
{$pdflink_attrs}  title="" >
				
		Vista PDF		
		</a>
	</li>
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
