<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel datos_de_red add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Cto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cto}  r-vertical-field" 
	data-signal-error-for="Cto{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Cto" data-fieldname="Cto" >

	<label class="r-edit-label control-label" for="{$labelfor_Cto}">
		{BEGIN Cto_label}{$label datos_de_red Cto }{END Cto_label}
	</label>
	<div class="r-edit-field">
		{$Cto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Cto">
		<div class="text-muted" >
		{$tooltip datos_de_red Cto }		</div>
	</div>
</div>


{END Cto_fieldblock}
											
{BEGIN Spliter_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Spliter}  r-vertical-field" 
	data-signal-error-for="Spliter{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Spliter" data-fieldname="Spliter" >

	<label class="r-edit-label control-label" for="{$labelfor_Spliter}">
		{BEGIN Spliter_label}{$label datos_de_red Spliter }{END Spliter_label}
	</label>
	<div class="r-edit-field">
		{$Spliter_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Spliter">
		<div class="text-muted" >
		{$tooltip datos_de_red Spliter }		</div>
	</div>
</div>


{END Spliter_fieldblock}
											
{BEGIN Cable_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cable}  r-vertical-field" 
	data-signal-error-for="Cable{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Cable" data-fieldname="Cable" >

	<label class="r-edit-label control-label" for="{$labelfor_Cable}">
		{BEGIN Cable_label}{$label datos_de_red Cable }{END Cable_label}
	</label>
	<div class="r-edit-field">
		{$Cable_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Cable">
		<div class="text-muted" >
		{$tooltip datos_de_red Cable }		</div>
	</div>
</div>


{END Cable_fieldblock}
											
{BEGIN Puerto_CTO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Puerto_CTO}  r-vertical-field" 
	data-signal-error-for="Puerto_CTO{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Puerto_CTO" data-fieldname="Puerto CTO" >

	<label class="r-edit-label control-label" for="{$labelfor_Puerto_CTO}">
		{BEGIN Puerto_CTO_label}{$label datos_de_red Puerto_CTO }{END Puerto_CTO_label}
	</label>
	<div class="r-edit-field">
		{$Puerto_CTO_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Puerto_CTO">
		<div class="text-muted" >
		{$tooltip datos_de_red Puerto_CTO }		</div>
	</div>
</div>


{END Puerto_CTO_fieldblock}
											
{BEGIN Serial_ONT_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Serial_ONT}  r-vertical-field" 
	data-signal-error-for="Serial_ONT{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Serial_ONT" data-fieldname="Serial ONT" >

	<label class="r-edit-label control-label" for="{$labelfor_Serial_ONT}">
		{BEGIN Serial_ONT_label}{$label datos_de_red Serial_ONT }{END Serial_ONT_label}
	</label>
	<div class="r-edit-field">
		{$Serial_ONT_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Serial_ONT">
		<div class="text-muted" >
		{$tooltip datos_de_red Serial_ONT }		</div>
	</div>
</div>


{END Serial_ONT_fieldblock}
											
{BEGIN Cedula_NIt_Cliente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cedula_NIt_Cliente}  r-vertical-field" 
	data-signal-error-for="Cedula_NIt_Cliente{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Cedula_NIt_Cliente" data-fieldname="Cedula/NIt-Cliente" >

	<label class="r-edit-label control-label" for="{$labelfor_Cedula_NIt_Cliente}">
		{BEGIN Cedula_NIt_Cliente_label}{$label datos_de_red Cedula_NIt_Cliente }{END Cedula_NIt_Cliente_label}
	</label>
	<div class="r-edit-field">
		{$Cedula_NIt_Cliente_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Cedula_NIt_Cliente">
		<div class="text-muted" >
		{$tooltip datos_de_red Cedula_NIt_Cliente }		</div>
	</div>
</div>


{END Cedula_NIt_Cliente_fieldblock}
											
{BEGIN Foto_Potencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Foto_Potencia}  r-vertical-field" 
	data-signal-error-for="Foto_Potencia{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Foto_Potencia" data-fieldname="Foto Potencia" >

	<label class="r-edit-label control-label" for="{$labelfor_Foto_Potencia}">
		{BEGIN Foto_Potencia_label}{$label datos_de_red Foto_Potencia }{END Foto_Potencia_label}
	</label>
	<div class="r-edit-field">
		{$Foto_Potencia_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Foto_Potencia">
		<div class="text-muted" >
		{$tooltip datos_de_red Foto_Potencia }		</div>
	</div>
</div>


{END Foto_Potencia_fieldblock}
											
{BEGIN Estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado}  r-vertical-field" 
	data-signal-error-for="Estado{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Estado" data-fieldname="Estado" >

	<label class="r-edit-label control-label" for="{$labelfor_Estado}">
		{BEGIN Estado_label}{$label datos_de_red Estado }{END Estado_label}
	</label>
	<div class="r-edit-field">
		{$Estado_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Estado">
		<div class="text-muted" >
		{$tooltip datos_de_red Estado }		</div>
	</div>
</div>


{END Estado_fieldblock}
											
{BEGIN Municipio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Municipio}  r-vertical-field" 
	data-signal-error-for="Municipio{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Municipio" data-fieldname="Municipio" >

	<label class="r-edit-label control-label" for="{$labelfor_Municipio}">
		{BEGIN Municipio_label}{$label datos_de_red Municipio }{END Municipio_label}
	</label>
	<div class="r-edit-field">
		{$Municipio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Municipio">
		<div class="text-muted" >
		{$tooltip datos_de_red Municipio }		</div>
	</div>
</div>


{END Municipio_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
