<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel datos_de_red view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Cto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cto}  r-vertical-field" data-fieldname="Cto" data-signal-error-for="Cto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Cto" data-fieldname="Cto" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Cto}">
		
		{BEGIN Cto_label}{$label datos_de_red Cto }{END Cto_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Cto_value}	</div>

		
</div>


{END Cto_fieldblock}
											
{BEGIN Spliter_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Spliter}  r-vertical-field" data-fieldname="Spliter" data-signal-error-for="Spliter{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Spliter" data-fieldname="Spliter" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Spliter}">
		
		{BEGIN Spliter_label}{$label datos_de_red Spliter }{END Spliter_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Spliter_value}	</div>

		
</div>


{END Spliter_fieldblock}
											
{BEGIN Cable_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cable}  r-vertical-field" data-fieldname="Cable" data-signal-error-for="Cable{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Cable" data-fieldname="Cable" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Cable}">
		
		{BEGIN Cable_label}{$label datos_de_red Cable }{END Cable_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Cable_value}	</div>

		
</div>


{END Cable_fieldblock}
											
{BEGIN Puerto_CTO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Puerto_CTO}  r-vertical-field" data-fieldname="Puerto CTO" data-signal-error-for="Puerto_CTO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Puerto_CTO" data-fieldname="Puerto CTO" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Puerto_CTO}">
		
		{BEGIN Puerto_CTO_label}{$label datos_de_red Puerto_CTO }{END Puerto_CTO_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Puerto_CTO_value}	</div>

		
</div>


{END Puerto_CTO_fieldblock}
											
{BEGIN Serial_ONT_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Serial_ONT}  r-vertical-field" data-fieldname="Serial ONT" data-signal-error-for="Serial_ONT{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Serial_ONT" data-fieldname="Serial ONT" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Serial_ONT}">
		
		{BEGIN Serial_ONT_label}{$label datos_de_red Serial_ONT }{END Serial_ONT_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Serial_ONT_value}	</div>

		
</div>


{END Serial_ONT_fieldblock}
											
{BEGIN Cedula_NIt_Cliente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cedula_NIt_Cliente}  r-vertical-field" data-fieldname="Cedula/NIt-Cliente" data-signal-error-for="Cedula_NIt_Cliente{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Cedula_NIt_Cliente" data-fieldname="Cedula/NIt-Cliente" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Cedula_NIt_Cliente}">
		
		{BEGIN Cedula_NIt_Cliente_label}{$label datos_de_red Cedula_NIt_Cliente }{END Cedula_NIt_Cliente_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Cedula_NIt_Cliente_value}	</div>

		
</div>


{END Cedula_NIt_Cliente_fieldblock}
											
{BEGIN Foto_Potencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Foto_Potencia}  r-vertical-field" data-fieldname="Foto Potencia" data-signal-error-for="Foto_Potencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Foto_Potencia" data-fieldname="Foto Potencia" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Foto_Potencia}">
		
		{BEGIN Foto_Potencia_label}{$label datos_de_red Foto_Potencia }{END Foto_Potencia_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Foto_Potencia_value}	</div>

		
</div>


{END Foto_Potencia_fieldblock}
											
{BEGIN Estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado}  r-vertical-field" data-fieldname="Estado" data-signal-error-for="Estado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Estado" data-fieldname="Estado" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Estado}">
		
		{BEGIN Estado_label}{$label datos_de_red Estado }{END Estado_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Estado_value}	</div>

		
</div>


{END Estado_fieldblock}
											
{BEGIN Municipio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Municipio}  r-vertical-field" data-fieldname="Municipio" data-signal-error-for="Municipio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Municipio" data-fieldname="Municipio" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Municipio}">
		
		{BEGIN Municipio_label}{$label datos_de_red Municipio }{END Municipio_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Municipio_value}	</div>

		
</div>


{END Municipio_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
	 
		<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="datos_de_red_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
								<li data-itemtype="view_pdf" data-itemid="view_pdf" {$item_view_pdf} data-pageid="{$pageid}" data-small >
				<a class="pdflink" data-pdfpage="view" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="datos de red.pdf" 
data-pagesize="LETTER" 
data-pagetype="view" 
{$pdflink_attrs}  title="" >
				
		Vista PDF		
		</a>
	</li>
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
