<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-list"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expandir" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}"	 >
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


																		{BEGIN searchCtrlBlock_Cable}


		<div class="form-group srchPanelRow {$filterRow_class_Cable}" {$filterRow_attrs_Cable}>
			<label>{$label datos_de_red Cable }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Cable}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Cable}</span>
						</div>
		{END searchCtrlBlock_Cable}
																{BEGIN searchCtrlBlock_Spliter}


		<div class="form-group srchPanelRow {$filterRow_class_Spliter}" {$filterRow_attrs_Spliter}>
			<label>{$label datos_de_red Spliter }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Spliter}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Spliter}</span>
						</div>
		{END searchCtrlBlock_Spliter}
																{BEGIN searchCtrlBlock_Serial_ONT}


		<div class="form-group srchPanelRow {$filterRow_class_Serial_ONT}" {$filterRow_attrs_Serial_ONT}>
			<label>{$label datos_de_red Serial_ONT }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Serial_ONT}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Serial_ONT}</span>
						</div>
		{END searchCtrlBlock_Serial_ONT}
																{BEGIN searchCtrlBlock_Municipio}


		<div class="form-group srchPanelRow {$filterRow_class_Municipio}" {$filterRow_attrs_Municipio}>
			<label>{$label datos_de_red Municipio }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Municipio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Municipio}</span>
						</div>
		{END searchCtrlBlock_Municipio}
																{BEGIN searchCtrlBlock_Cto}


		<div class="form-group srchPanelRow {$filterRow_class_Cto}" {$filterRow_attrs_Cto}>
			<label>{$label datos_de_red Cto }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Cto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Cto}</span>
						</div>
		{END searchCtrlBlock_Cto}
																{BEGIN searchCtrlBlock_Cedula_NIt_Cliente}


		<div class="form-group srchPanelRow {$filterRow_class_Cedula_NIt_Cliente}" {$filterRow_attrs_Cedula_NIt_Cliente}>
			<label>{$label datos_de_red Cedula_NIt_Cliente }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Cedula_NIt_Cliente}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Cedula_NIt_Cliente}</span>
						</div>
		{END searchCtrlBlock_Cedula_NIt_Cliente}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Reiniciar</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="filter_panel" {$item_filter_panel} data-topcell-item-type="filter_panel" >
				<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
	<div class="filterPanelContainer {$filterPanelStateClass}" 
			>
	<!-- Begin Filter panel content -->






{BEGIN filter_control_Cto}

	<div class="panel panel-info filter-field filter-Cto-container">
		<div class="panel-heading filter-expander">
													<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>

		
			{BEGIN clearLink_Cto}
			<a href="#" class="filter-clear filter-clear-Cto" title="borrar">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Cto}
			{$label datos_de_red Cto }		</div>
		<ul class="list-group">
					{BEGIN filterCtrlBlock_Cto}
		<li class="list-group-item filter-values filter-values-Cto {$collapsedClass_Cto} {$visibilityClass_Cto}">
			{$Cto_filter}
						
					
					
					
					
					
					</li>
		{END filterCtrlBlock_Cto}

			{BEGIN filter_button_showmore_Cto}
		<li class="list-group-item filter-show-more {$collapsedClass_Cto} {$showMoreBtnClass_Cto}">
			<a class="filter-show-more-link filterShowMore_Cto" href="#">{$show_n_more_Cto}</a>
		</li>
		{END filter_button_showmore_Cto}
	


	

			</ul>
	</div>

{END filter_control_Cto}






{BEGIN filter_control_Cedula_NIt_Cliente}

	<div class="panel panel-info filter-field filter-Cedula_NIt_Cliente-container">
		<div class="panel-heading filter-expander">
													<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>

		
			{BEGIN clearLink_Cedula_NIt_Cliente}
			<a href="#" class="filter-clear filter-clear-Cedula_NIt_Cliente" title="borrar">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Cedula_NIt_Cliente}
			{$label datos_de_red Cedula_NIt_Cliente }		</div>
		<ul class="list-group">
					{BEGIN filterCtrlBlock_Cedula_NIt_Cliente}
		<li class="list-group-item filter-values filter-values-Cedula_NIt_Cliente {$collapsedClass_Cedula_NIt_Cliente} {$visibilityClass_Cedula_NIt_Cliente}">
			{$Cedula_NIt_Cliente_filter}
						
					
					
					
					
					
					</li>
		{END filterCtrlBlock_Cedula_NIt_Cliente}

			{BEGIN filter_button_showmore_Cedula_NIt_Cliente}
		<li class="list-group-item filter-show-more {$collapsedClass_Cedula_NIt_Cliente} {$showMoreBtnClass_Cedula_NIt_Cliente}">
			<a class="filter-show-more-link filterShowMore_Cedula_NIt_Cliente" href="#">{$show_n_more_Cedula_NIt_Cliente}</a>
		</li>
		{END filter_button_showmore_Cedula_NIt_Cliente}
	


	

			</ul>
	</div>

{END filter_control_Cedula_NIt_Cliente}






{BEGIN filter_control_Municipio}

	<div class="panel panel-info filter-field filter-Municipio-container">
		<div class="panel-heading filter-expander">
													<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>

		
			{BEGIN clearLink_Municipio}
			<a href="#" class="filter-clear filter-clear-Municipio" title="borrar">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Municipio}
			{$label datos_de_red Municipio }		</div>
		<ul class="list-group">
					{BEGIN filterCtrlBlock_Municipio}
		<li class="list-group-item filter-values filter-values-Municipio {$collapsedClass_Municipio} {$visibilityClass_Municipio}">
			{$Municipio_filter}
						
					
					
					
					
					
					</li>
		{END filterCtrlBlock_Municipio}

			{BEGIN filter_button_showmore_Municipio}
		<li class="list-group-item filter-show-more {$collapsedClass_Municipio} {$showMoreBtnClass_Municipio}">
			<a class="filter-show-more-link filterShowMore_Municipio" href="#">{$show_n_more_Municipio}</a>
		</li>
		{END filter_button_showmore_Municipio}
	


	

			</ul>
	</div>

{END filter_control_Municipio}






{BEGIN filter_control_Serial_ONT}

	<div class="panel panel-info filter-field filter-Serial_ONT-container">
		<div class="panel-heading filter-expander">
													<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>

		
			{BEGIN clearLink_Serial_ONT}
			<a href="#" class="filter-clear filter-clear-Serial_ONT" title="borrar">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Serial_ONT}
			{$label datos_de_red Serial_ONT }		</div>
		<ul class="list-group">
					{BEGIN filterCtrlBlock_Serial_ONT}
		<li class="list-group-item filter-values filter-values-Serial_ONT {$collapsedClass_Serial_ONT} {$visibilityClass_Serial_ONT}">
			{$Serial_ONT_filter}
						
					
					
					
					
					
					</li>
		{END filterCtrlBlock_Serial_ONT}

			{BEGIN filter_button_showmore_Serial_ONT}
		<li class="list-group-item filter-show-more {$collapsedClass_Serial_ONT} {$showMoreBtnClass_Serial_ONT}">
			<a class="filter-show-more-link filterShowMore_Serial_ONT" href="#">{$show_n_more_Serial_ONT}</a>
		</li>
		{END filter_button_showmore_Serial_ONT}
	


	

			</ul>
	</div>

{END filter_control_Serial_ONT}






{BEGIN filter_control_Cable}

	<div class="panel panel-info filter-field filter-Cable-container">
		<div class="panel-heading filter-expander">
													<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>

		
			{BEGIN clearLink_Cable}
			<a href="#" class="filter-clear filter-clear-Cable" title="borrar">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Cable}
			{$label datos_de_red Cable }		</div>
		<ul class="list-group">
					{BEGIN filterCtrlBlock_Cable}
		<li class="list-group-item filter-values filter-values-Cable {$collapsedClass_Cable} {$visibilityClass_Cable}">
			{$Cable_filter}
						
					
					
					
					
					
					</li>
		{END filterCtrlBlock_Cable}

			{BEGIN filter_button_showmore_Cable}
		<li class="list-group-item filter-show-more {$collapsedClass_Cable} {$showMoreBtnClass_Cable}">
			<a class="filter-show-more-link filterShowMore_Cable" href="#">{$show_n_more_Cable}</a>
		</li>
		{END filter_button_showmore_Cable}
	


	

			</ul>
	</div>

{END filter_control_Cable}






{BEGIN filter_control_Spliter}

	<div class="panel panel-info filter-field filter-Spliter-container">
		<div class="panel-heading filter-expander">
													<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>

		
			{BEGIN clearLink_Spliter}
			<a href="#" class="filter-clear filter-clear-Spliter" title="borrar">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Spliter}
			{$label datos_de_red Spliter }		</div>
		<ul class="list-group">
					{BEGIN filterCtrlBlock_Spliter}
		<li class="list-group-item filter-values filter-values-Spliter {$collapsedClass_Spliter} {$visibilityClass_Spliter}">
			{$Spliter_filter}
						
					
					
					
					
					
					</li>
		{END filterCtrlBlock_Spliter}

			{BEGIN filter_button_showmore_Spliter}
		<li class="list-group-item filter-show-more {$collapsedClass_Spliter} {$showMoreBtnClass_Spliter}">
			<a class="filter-show-more-link filterShowMore_Spliter" href="#">{$show_n_more_Spliter}</a>
		</li>
		{END filter_button_showmore_Spliter}
	


	

			</ul>
	</div>

{END filter_control_Spliter}



	<!-- End Filter panel content -->
	</div>
</div>			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Muestrame el menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Reiniciar">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN editselected_link}
	<li data-itemtype="edit_selected" data-itemid="edit_selected" {$item_edit_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$editselectedlink_attrs} {$editselectedlink_span}  title="" >
				
		Editar los seleccionados		
		</a>
	</li>
{END editselected_link}
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		Borrar articulos seleccionados		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="datos_de_red_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Búsqueda avanzada		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Mostrar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Ocultar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Exportar resultados		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="datos_de_red_import.php{$stateLink_full}"  title="" >
				
		Importar		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Area Admin		
		</a>
	</li>
{END adminarea_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$addlink_attrs} href="datos_de_red_add.php{$stateLink_full}" >
							Añadir nuevo			</a>
</span>
{END add_link}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Añadir nuevo			</a>
</span>
{END inlineadd_link}
	 
		{BEGIN saveall_link}
<span data-itemtype="inline_save_all" data-itemid="inline_save_all" {$item_inline_save_all} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savealllink_attrs} {$savealllink_span} >
							Guardar todo			</a>
</span>
{END saveall_link}
	 
		{BEGIN cancelall_link}
<span data-itemtype="inline_cancel_all" data-itemid="inline_cancel_all" {$item_inline_cancel_all} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$cancelalllink_attrs} {$cancelalllink_span} >
							Cancelar			</a>
</span>
{END cancelall_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							Borrar artículos seleccionados			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Página para imprimir" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Rango:		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="datos_de_red_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									Imprimir todas las páginas							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="datos_de_red_print.php?{$crosstable_attrs}">
				Imprimir esta página			</label>
		</div>
	</div>
		
		 
	<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio" >
			Imprimir la selección			</label>
		</div>
	</div>
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Resultados por página							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Imprimir			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Cto"]:before {
		content: "{$label datos_de_red Cto}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Spliter"]:before {
		content: "{$label datos_de_red Spliter}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Cable"]:before {
		content: "{$label datos_de_red Cable}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Puerto_CTO"]:before {
		content: "{$label datos_de_red Puerto_CTO}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Serial_ONT"]:before {
		content: "{$label datos_de_red Serial_ONT}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Cedula_NIt_Cliente"]:before {
		content: "{$label datos_de_red Cedula_NIt_Cliente}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Foto_Potencia"]:before {
		content: "{$label datos_de_red Foto_Potencia}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Estado"]:before {
		content: "{$label datos_de_red Estado}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Municipio"]:before {
		content: "{$label datos_de_red Municipio}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table table-striped table-bordered r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
									{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cto_class}	"

			data-field="Cto"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cto_fieldheadercolumn}
	{BEGIN Cto_fieldheader}
	<SPAN {$Cto_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cto" data-fieldname="Cto">
	{$label datos_de_red Cto }	{$arrow_icon_Cto}
	</SPAN>
	{END Cto_fieldheader}
{END Cto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Spliter_class}	"

			data-field="Spliter"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Spliter_fieldheadercolumn}
	{BEGIN Spliter_fieldheader}
	<SPAN {$Spliter_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Spliter" data-fieldname="Spliter">
	{$label datos_de_red Spliter }	{$arrow_icon_Spliter}
	</SPAN>
	{END Spliter_fieldheader}
{END Spliter_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cable_class}	"

			data-field="Cable"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cable_fieldheadercolumn}
	{BEGIN Cable_fieldheader}
	<SPAN {$Cable_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cable" data-fieldname="Cable">
	{$label datos_de_red Cable }	{$arrow_icon_Cable}
	</SPAN>
	{END Cable_fieldheader}
{END Cable_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Puerto_CTO_class}	"

			data-field="Puerto_CTO"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Puerto_CTO_fieldheadercolumn}
	{BEGIN Puerto_CTO_fieldheader}
	<SPAN {$Puerto_CTO_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Puerto_CTO" data-fieldname="Puerto CTO">
	{$label datos_de_red Puerto_CTO }	{$arrow_icon_Puerto_CTO}
	</SPAN>
	{END Puerto_CTO_fieldheader}
{END Puerto_CTO_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Serial_ONT_class}	"

			data-field="Serial_ONT"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Serial_ONT_fieldheadercolumn}
	{BEGIN Serial_ONT_fieldheader}
	<SPAN {$Serial_ONT_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Serial_ONT" data-fieldname="Serial ONT">
	{$label datos_de_red Serial_ONT }	{$arrow_icon_Serial_ONT}
	</SPAN>
	{END Serial_ONT_fieldheader}
{END Serial_ONT_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cedula_NIt_Cliente_class}	"

			data-field="Cedula_NIt_Cliente"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cedula_NIt_Cliente_fieldheadercolumn}
	{BEGIN Cedula_NIt_Cliente_fieldheader}
	<SPAN {$Cedula_NIt_Cliente_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cedula_NIt_Cliente" data-fieldname="Cedula/NIt-Cliente">
	{$label datos_de_red Cedula_NIt_Cliente }	{$arrow_icon_Cedula_NIt_Cliente}
	</SPAN>
	{END Cedula_NIt_Cliente_fieldheader}
{END Cedula_NIt_Cliente_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Foto_Potencia_class}	"

			data-field="Foto_Potencia"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Foto_Potencia_fieldheadercolumn}
	{BEGIN Foto_Potencia_fieldheader}
	<SPAN {$Foto_Potencia_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Foto_Potencia" data-fieldname="Foto Potencia">
	{$label datos_de_red Foto_Potencia }	{$arrow_icon_Foto_Potencia}
	</SPAN>
	{END Foto_Potencia_fieldheader}
{END Foto_Potencia_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Estado_class}	"

			data-field="Estado"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Estado_fieldheadercolumn}
	{BEGIN Estado_fieldheader}
	<SPAN {$Estado_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Estado" data-fieldname="Estado">
	{$label datos_de_red Estado }	{$arrow_icon_Estado}
	</SPAN>
	{END Estado_fieldheader}
{END Estado_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Municipio_class}	"

			data-field="Municipio"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Municipio_fieldheadercolumn}
	{BEGIN Municipio_fieldheader}
	<SPAN {$Municipio_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Municipio" data-fieldname="Municipio">
	{$label datos_de_red Municipio }	{$arrow_icon_Municipio}
	</SPAN>
	{END Municipio_fieldheader}
{END Municipio_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Editar" class="btn-link   
	 glyphicon glyphicon-pencil" href="datos_de_red_edit.php?{$editlink}" {$editlink_attrs} title="Editar" >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN inlineedit_column}
{BEGIN inlineedit_link}
<span data-itemtype="grid_inline_edit" data-itemid="grid_inline_edit" {$item_grid_inline_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Editar" class="btn-link   
	 glyphicon glyphicon-edit" {$inlineeditlink_attrs} title="Editar" >		
				
								</a>
</span>
{END inlineedit_link}
{END inlineedit_column}
	 
		{BEGIN inline_save}
<span data-itemtype="grid_inline_save" data-itemid="grid_inline_save" {$item_grid_inline_save} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Guardar" class="btn-link   
	 glyphicon glyphicon-ok" {$inlinesavelink_attrs} title="Guardar" >		
				
								</a>
</span>
{END inline_save}
	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Cancelar" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancelar" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Ver registro" class="btn-link   
	 glyphicon glyphicon-search" href="datos_de_red_view.php?{$editlink}" {$viewlink_attrs} title="Ver" >		
				
								</a>
</span>
{END view_link}
{END view_column}
	
	</td>
	{END cellblock_grid_cell_icons}
									{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cto_class}	"

			data-field="Cto"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cto" data-fieldname="Cto" data-default-width >
{$Cto_value}
</span>
{END Cto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Spliter_class}	"

			data-field="Spliter"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Spliter_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Spliter" data-fieldname="Spliter" data-default-width >
{$Spliter_value}
</span>
{END Spliter_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cable_class}	"

			data-field="Cable"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cable_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cable" data-fieldname="Cable" data-default-width >
{$Cable_value}
</span>
{END Cable_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Puerto_CTO_class}	"

			data-field="Puerto_CTO"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Puerto_CTO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Puerto_CTO" data-fieldname="Puerto CTO" data-default-width >
{$Puerto_CTO_value}
</span>
{END Puerto_CTO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Serial_ONT_class}	"

			data-field="Serial_ONT"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Serial_ONT_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Serial_ONT" data-fieldname="Serial ONT" data-default-width >
{$Serial_ONT_value}
</span>
{END Serial_ONT_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cedula_NIt_Cliente_class}	"

			data-field="Cedula_NIt_Cliente"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cedula_NIt_Cliente_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cedula_NIt_Cliente" data-fieldname="Cedula/NIt-Cliente" data-default-width >
{$Cedula_NIt_Cliente_value}
</span>
{END Cedula_NIt_Cliente_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Foto_Potencia_class}	"

			data-field="Foto_Potencia"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Foto_Potencia_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Foto_Potencia" data-fieldname="Foto Potencia" data-default-width >
{$Foto_Potencia_value}
</span>
{END Foto_Potencia_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Estado_class}	"

			data-field="Estado"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Estado_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Estado" data-fieldname="Estado" data-default-width >
{$Estado_value}
</span>
{END Estado_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Municipio_class}	"

			data-field="Municipio"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Municipio_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Municipio" data-fieldname="Municipio" data-default-width >
{$Municipio_value}
</span>
{END Municipio_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
									{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cto_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Spliter_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cable_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Puerto_CTO_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Serial_ONT_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cedula_NIt_Cliente_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Foto_Potencia_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Estado_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Municipio_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="datos_de_red_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
