<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Logistica_Inversa_Para_Contratistas search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Ticket_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Ticket}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Ticket{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="Ticket" data-fieldname="Ticket" >


	<label class="r-search-label control-label" for="{$labelfor_Ticket}">
		{$label Logistica_Inversa_Para_Contratistas Ticket }	</label>
	<div class="r-search-option">
		{$searchtype_Ticket}
	</div>
	<div class="r-search-field">
		{$Ticket_editcontrol}	</div>
	<div class="r-search-field">
		{$Ticket_editcontrol1}
	</div>
	
</div>

{END Ticket_fieldblock}
											
{BEGIN Tecnico_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tecnico}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Tecnico{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="Tecnico" data-fieldname="Tecnico" >


	<label class="r-search-label control-label" for="{$labelfor_Tecnico}">
		{$label Logistica_Inversa_Para_Contratistas Tecnico }	</label>
	<div class="r-search-option">
		{$searchtype_Tecnico}
	</div>
	<div class="r-search-field">
		{$Tecnico_editcontrol}	</div>
	<div class="r-search-field">
		{$Tecnico_editcontrol1}
	</div>
	
</div>

{END Tecnico_fieldblock}
											
{BEGIN Serial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Serial}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Serial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Serial" data-fieldname="Serial" >


	<label class="r-search-label control-label" for="{$labelfor_Serial}">
		{$label Logistica_Inversa_Para_Contratistas Serial }	</label>
	<div class="r-search-option">
		{$searchtype_Serial}
	</div>
	<div class="r-search-field">
		{$Serial_editcontrol}	</div>
	<div class="r-search-field">
		{$Serial_editcontrol1}
	</div>
	
</div>

{END Serial_fieldblock}
											
{BEGIN Observaci_n_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaci_n}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Observaci_n{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Observaci_n" data-fieldname="Observación" >


	<label class="r-search-label control-label" for="{$labelfor_Observaci_n}">
		{$label Logistica_Inversa_Para_Contratistas Observaci_n }	</label>
	<div class="r-search-option">
		{$searchtype_Observaci_n}
	</div>
	<div class="r-search-field">
		{$Observaci_n_editcontrol}	</div>
	<div class="r-search-field">
		{$Observaci_n_editcontrol1}
	</div>
	
</div>

{END Observaci_n_fieldblock}
											
{BEGIN Empresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Empresa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Empresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Empresa" data-fieldname="Empresa" >


	<label class="r-search-label control-label" for="{$labelfor_Empresa}">
		{$label Logistica_Inversa_Para_Contratistas Empresa }	</label>
	<div class="r-search-option">
		{$searchtype_Empresa}
	</div>
	<div class="r-search-field">
		{$Empresa_editcontrol}	</div>
	<div class="r-search-field">
		{$Empresa_editcontrol1}
	</div>
	
</div>

{END Empresa_fieldblock}
											
{BEGIN Tipo_de_Tramite_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_de_Tramite}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Tipo_de_Tramite{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Tipo_de_Tramite" data-fieldname="Tipo de Tramite" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo_de_Tramite}">
		{$label Logistica_Inversa_Para_Contratistas Tipo_de_Tramite }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo_de_Tramite}
	</div>
	<div class="r-search-field">
		{$Tipo_de_Tramite_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_de_Tramite_editcontrol1}
	</div>
	
</div>

{END Tipo_de_Tramite_fieldblock}
											
{BEGIN Entregado_en_Bodega_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Entregado_en_Bodega}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Entregado_en_Bodega{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Entregado_en_Bodega" data-fieldname="Entregado en Bodega" >


	<label class="r-search-label control-label" for="{$labelfor_Entregado_en_Bodega}">
		{$label Logistica_Inversa_Para_Contratistas Entregado_en_Bodega }	</label>
	<div class="r-search-option">
		{$searchtype_Entregado_en_Bodega}
	</div>
	<div class="r-search-field">
		{$Entregado_en_Bodega_editcontrol}	</div>
	<div class="r-search-field">
		{$Entregado_en_Bodega_editcontrol1}
	</div>
	
</div>

{END Entregado_en_Bodega_fieldblock}
											
{BEGIN Fecha_de_Entrega_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_de_Entrega}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Fecha_de_Entrega{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Fecha_de_Entrega" data-fieldname="Fecha de Entrega" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha_de_Entrega}">
		{$label Logistica_Inversa_Para_Contratistas Fecha_de_Entrega }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha_de_Entrega}
	</div>
	<div class="r-search-field">
		{$Fecha_de_Entrega_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_de_Entrega_editcontrol1}
	</div>
	
</div>

{END Fecha_de_Entrega_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
